<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="e3mall" version="2.5">
	<!-- 2,spring加载 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		
			<!-- 加载配置文件:
			1,加载当前编译路径配置文件:classpath:spring/*.xml
			2,加载jar里面配置文件: classpath*:spring/*.xml -->
		
		<param-value>classpath:spring/*.xml</param-value>
	</context-param>
</web-app>